spring:
  application:
    name: WebAppT1
  datasource:
    url: jdbc:mysql://localhost:3306/webappt1?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update